.btnnn{
  border: 1px solid skyblue;
  padding: .5rem 1.5rem;
  text-decoration: none; 
  border-radius: 25px;
}
.btnnn:hover{
  background: rgb(12, 133, 180);
  color: white;
}
.brand-name{
  background: skyblue;
  color: white;
}


